@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor del navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 10px;
}

/* Estilos para los elementos del navbar */
.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

/* Estilos para el ícono */
.navbar .cart-icon {
    font-size: 20px;
}

.con-producto {
    color: #10B981;
    font-size: 24px;
}

/* Estilos para el elemento activo */
.navbar a.active {
    color: #10B981;
}

html {
    font-size: 15px;
}

.cards-container {
    background: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    color: #1F2937;
    margin: 3.3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5rem;
}

.card {
    background: #fff;
    color: #6d708d;
    border-radius: 0.8rem;
}

.cards .card.active {
    background: #10B981;
    color: #fff;
    display: flex;
    align-items: center;
    z-index: 1;
}

ul {
    margin: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}

ul li.price {
    font-size: 3rem;
    color: #494c5f;
    padding-bottom: 2rem;
}

.shadow {
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.card.active .price {
    color: #fff;
}

.btn {
    margin-top: 1rem;
    height: 2.6rem;
    width: 13.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #10B981;
    color: white;
    outline: none;
    border: 0;
    font-weight: bold;
}

.btn:hover {
    background-color: #16815e;
}

.active-btn {
    background: #fff;
    color: #10B981;
}

.active-btn:hover {
    background: #1F2937;
    color: #fff;
}

.bottom-bar {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
}

.card.active .bottom-bar {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.253);
}

.pack {
    font-size: 1.1rem;
}